input, select, textarea {
    display: block;
    margin: 4px;
    border-color: beige;
    border: navajowhite;
    padding: 5px 10px;
    border-radius: 25px;
    
   
}

h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
    margin: 0.5em 4px;
    background-color: rgb(223, 131, 18);
    padding: 2px 10px;
}

.inline {
    display: inline;
}

body {
    background-color: #eba4a4;
}

.form-container {
    padding: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 500px;
    height: 80vh;
    margin: auto;
    padding:15px 5px 5px 20px;
    background-color:aquamarine;
  
}

.btnApply{
background-color: green;
color: white;
padding: 15px 10px;
cursor: pointer;
font-size: 1rem;
border-radius: 5px;
}
.btnApply:hover{
background-color: rgb(22, 170, 22);
color: white;

}


.btnReset{
    background-color: yellow;
    color: green;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    }

.btnReset:hover{
    background-color: rgb(230, 230, 52);
  
    
    }