body{
    background-color: rgb(223, 86, 143);
}
h1{
    text-align: center;
    font-size: 3rem;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;           
}
.container input{
    margin-right: 5px;
    padding: 10px;
    width: 300px;
    height: 50px;
    font-size: 25px;
}
.container button{
    background-color: blue;
    color: white;
    padding: 0px 15px;
    font-size: 20px;
}