body {
    background: url("https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;


  }
  table {
    width: 1000px;
    height: 100%;
    margin: 50px auto;
  }
  th {
    font-size: 2rem;
    background-color: brown;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: aqua;
    font-size: 1rem;
    font-size: 18px;
  }
  tr:nth-child(odd) {
    background-color: yellow;
  }
  h1{
      color: white;
      text-align: center;
      font-size: 3rem;
      letter-spacing: 8px;
  }